{% extends "members/base.html" %}

{% block content %}

<br><br>

	<div class="card border-success mb-3" style="max-width: 30rem;">
  <div class="card-header bg-transparent border-success"><h3>{{ job.product }}</h3></div>
  <div class="card-body text-success">
    <p class="card-title" style="font-size: 1.2em"> 
      <ul>
        <li>product: {{job.product}}</li>
        <li> from:  {{ job.origin }} </li>
        <li> to :{{ job.destination }}. </li>
        <li> capacity : {{ job.load_size }}</li>
      </ul>
      
   
 

    <br>
    <div class="text-secondary">
     {{job.description }}
  </div>

    <p class="card-text"></p>
  </div>
  <div class="card-footer bg-transparent border-success">
   <a href="{% url 'take_job' job.id %}"> <button type="submit" class="btn btn-outline-dark">take job</button></a></div>
</div>

{% endblock content %}